body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    max-height: 500px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: scroll;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    border-radius: 8px;
    background-color: #b6adff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7e6ef8;
}

.error {
    color: red;
    font-weight: bold;
}

.result {
    float: left;
    width: 50%;
    padding: 5px;
    text-align: left;
    justify-content: left;
    align-items: left;
}
